:root{
    --black: #04080F;
    --darkgreen: #008748;
    --green: #13BE7F;
    --red: #EF2D56;
    --white: #FFFFFF;
    --gray: #DBDBDB;
}

html, body {
    min-height: 360px;
    margin: 0 auto !important;
    padding-top: 15px;
    width:384px;
}

.dashboard-header{
    font-family: "Pacifico";
    color: var(--green);
}

.container-fluid{
    margin-right: 20px;
}

h1, h2, h5{
    line-height: 50px;
}

h1 {
    font-size: 40px;
}

.light{
    font-weight: 300;
}

.medium{
    font-weight: 400;
}

.bold{
    font-weight: 700;
}

.signed-in{
    display: none;
}

.signin-wrapper input:focus{
    outline: 0 !important;
    box-shadow: none;
    border-color: #D9D9D9;
}

#signin-button{
    color: var(--white);
    background-color: var(--green);
    border: none;
    border-radius: 0 !important;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
}

#logout-button{
    color: var(--white);
    background-color: var(--green);
    border: none;
    border-radius: 0 !important;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
}

._btn:focus{
    border: none !important;
    outline: 0 !important;
    box-shadow: none;
}

_.btn:active{
    border: none !important;
    outline: 0 !important;
    box-shadow: none;
}

/* BUTTON ANIMATION */

._btn:hover{
    background-color: #10A06B !important;
}
