:root{
    --black: #04080F;
    --darkgreen: #008748;
    --green: #13BE7F;
    --red: #EF2D56;
    --white: #FFFFFF;
    --gray: #DBDBDB;
}

.impulse-modal-light{
    font-weight: 300;
}

.impulse-modal h1{
    font-size: 50px !important;
}

.impulse-modal h2{
    font-size: 24px !important;
}

.impulse-modal h3{
    font-size: 18px !important;
}

.impulse-modal h5{
    font-size: 14px !important;
}

/* The Modal (background) */
.impulse-modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    overflow-y: hidden;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.impulse-modal-content {
    font-family: "Roboto";
    background-color: var(--white);
    margin: 12% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 4px;
    width: 50%; /* Could be more or less, depending on screen size */
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.1);
}

.impulse-modal-header{
    margin-bottom: 25px;
}

.impulse-modal-header{
    font-family: "Pacifico";
    color: var(--green);
}

.impulse-modal-main h2{
    margin-bottom: 20px;
}

.impulse-modal-reason-box{
    box-shadow: none;
    resize: none;
    outline: 0;
    border: 3px solid var(--green);
    border-radius: 6px;
}

.impulse-modal-reason-box:focus{
    box-shadow: none;
    border-color: var(--green);
}

/* BUTTON STYLING */
#impulse-modal-buy-button{
    box-shadow: none;
    border: none;
    background-color: var(--green) !important;
}

#impulse-modal-cancel-button{
    box-shadow: none;
    border: none;
    background-color: var(--green) !important;
}

#impulse-modal-close-button{
    box-shadow: none;
    border: none;
    background-color: var(--green) !important;
}

#impulse-modal-buy-button:focus{
    border: none !important;
    outline: 0 !important;
    box-shadow: none;
}

#impulse-modal-cancel-button:focus{
    border: none !important;
    outline: 0 !important;
    box-shadow: none;
}

#impulse-modal-close-button:focus{
    border: none !important;
    outline: 0 !important;
    box-shadow: none;
}

#impulse-modal-buy-button:active{
    border: none !important;
    outline: 0 !important;
    box-shadow: none;
}

#impulse-modal-cancel-button:active{
    border: none !important;
    outline: 0 !important;
    box-shadow: none;
}

#impulse-modal-close-button:active{
    border: none !important;
    outline: 0 !important;
    box-shadow: none;
}

.impulse-modal-content input {
  position: absolute;
  opacity: 0;
}

.impulse-modal-char-count{
    margin-bottom: 5px;
}
